.topCard {
    display: flex;
    flex-direction: column;
    /*justify-content: center;*/
    align-items: flex-start;
    gap: 8px;
    width: 200px;
    position: relative;
    z-index: 1;
  }
  
  .topCard img {
    width: 200px;
    height: 203px;
    border-radius: 4px;
    object-fit: cover;
  }
  
  .medium {
    font-weight: 500;
  }
  
  .topCard h2 {
    margin: 0px;
    width: 100%;
    text-align: left;
    color: #ffffff;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    text-decoration: none;
  }
  
  .topCard p {
    margin: 0px;
    color: #E44C10;
    font-size: 12px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    
  }

  .ruta {
    text-decoration: none;
  }

  .topCard button{
    background-color: #00DDB5;
    border-radius: 30px;
width: 34px;
height: 34px;
display: flex;
justify-content: center;
align-items: center;

border: none;
position: absolute;
top: 5px;  /* Mueve el botón 10px hacia abajo */
  left: 5px;
  }